<template>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-5 pr-5">

      <router-link class="navbar-brand w-50" :to="{name: 'dashboard'}"> 
          <img src="/images/logo.png" class="lgo" alt="">
      </router-link>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown" v-if="$auth.check()">
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow mx-1" id="nab">
                <a class="nav-link dropdown-toggle nover" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="badge badge-danger" v-if="num>0">{{num}}</span>
                    <i class="fas fa-envelope fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
              <router-link class="dropdown-item" :to="{name:'ListaRecibidos'}">Bandeja de Entrada</router-link>
                </div>
            </li>
            
            <li class="nav-item dropdown no-arrow" id="nab">
                <a class="nav-link dropdown-toggle nover"  href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                    {{$auth.user().name}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <router-link class="dropdown-item" :to="{name:'EditarPerfil'}">Configuración</router-link>
                    <div class="dropdown-divider"></div>
                        <a v-on:click="logout()" href="javascript:void(0);" class="dropdown-item">Logout</a>
                </div>
            </li>
          
        </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown" v-if="!$auth.check()">
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow" id="nab" >
                <router-link class="nav-link nover" :to="{name:'login'}">
                    Login
                </router-link>
        </li>
        </ul>
    </div>

      
    </nav>
</div>
   
</template>
<script>
export default {
    data(){
        return{
            num:0
        }
    },
    mounted(){
      console.log(this.$auth.user());
    },methods:{
         logout() {
                this.$auth.logout({
                    makeRequest: true,
                    success() {
                        console.log('success ' + this.context);
                    },
                    error() {
                        console.log('error ' + this.context);
                    }
                });
            }
    }
}
</script>
<style>
@media screen and (max-width: 500px){
    .lgo{
    width: 25%;
    }
}
@media screen and (min-width: 500px){
   .lgo{
    width: 10%;
}
}


</style>

