<template>
<ul class="sidebar navbar-nav">
  <li class="nav-item">
      <a class="nav-link" href="#">
      <i class="fas fa-home"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-item active" id="dash"> 
      <router-link class="nav-link" :to="{name:'dashboard'}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </router-link>
    </li>
    <li class="nav-item dropdown" id="EditarW">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-edit"></i>
        <span>Editar</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <router-link :to="{name:'inicio'}" class="dropdown-item" href="#">Editar Inicio</router-link>
        <router-link :to="{name:'historiaAdmin'}" class="dropdown-item" href="#">Historia</router-link>
        <router-link :to="{name:'ResponsabilidadAdmin'}" class="dropdown-item" href="#">Responsabilidad</router-link>
        <router-link :to="{name:'ListaCategorias'}" class="dropdown-item" href="#">Productos</router-link>
        <router-link :to="{name:'ListaContactanos'}" class="dropdown-item" href="#">Contactanos</router-link>
        <router-link :to="{name:'ListaNoticias'}" class="dropdown-item" href="#">Noticias</router-link>
        <router-link :to="{name:'EditFooter'}" class="dropdown-item" href="#">Footer</router-link>
        
      </div>
    </li>

      <li class="nav-item dropdown" id="mensajesS">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-envelope-square"></i>
        <span>Mensajes</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <router-link class="dropdown-item" :to="{name:'ListaRecibidos'}">Bandeja de Entrada</router-link>
        <router-link class="dropdown-item" :to="{name:'ListaEnviados'}">Mensajes Enviados</router-link>
       
      </div>
      </li>
      
      <li class="nav-item dropdown" id="mensajesS">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-envelope-square"></i>
        <span>Configuracion</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <router-link class="dropdown-item" :to="{name:'ConfiguracionCorreo'}">Correo</router-link>
           <router-link class="dropdown-item" :to="{name:'EditarPerfil'}">Configuración</router-link>
      </div>
      </li>

      <li class="nav-item" id="adminsS" v-if="$auth.user().tipoUsuario_id==1 || $auth.user().tipoUsuario_id==2"> 
      <router-link :to="{name:'Administradores'}" class="nav-link" >
        <i class="fas fa-users"></i>
        <span>Administradores</span>
      </router-link>
    </li>
   
</ul>
</template>

<script>
    export default {
        mounted() {
           console.log(this.$auth.user());
        }
    }
</script>