<template>
<div>
    <Header></Header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import Header from './Navs/Header.vue';
    export default {
        components:{
            Header
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
