<template>
    <div style="background:#245745; height: -webkit-fill-available; display: -webkit-box;">
     <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header" style="display:-webkit-inline-box;">
            <img src="/images/logo.png" alt="" style="    width: 14%;
                height: 47px;"> 
            <h5 class="mt-3 ml-4">Login</h5>  
        </div>
        <div class="card-body">
          <form @submit.prevent="login">
            <div class="form-group">
              <div class="form-label-group">
                <input v-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                <label for="inputEmail">Email address</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input v-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                <label for="inputPassword">Password</label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me">
                  Remember Password
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
              <div style="display:none;" class="loader">Loading...</div>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="register.html">Register an Account</a>
            <router-link class="d-block small" :to="{name:'forgot'}">Forgot Password?</router-link>
          </div>
        </div>
      </div>
    </div>
    </div>
</template>
